@font-face {
  font-family: 'FFFTusj';
  src: url('fonts/FFFTusj.ttf') format('truetype');
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Lora', sans-serif;
  color: rgb(34, 34, 34);
  width: 100%;
  margin: 0 auto;
}

p {
	margin: 0;
	padding: 20px 0 0 0;
}

ul {
	padding: 20px 0 0 45px;
	margin: 0;
}

li {
  padding: 0 0 10px 0;
}

a:link, a:visited { 
  text-decoration: underline; 
  color: rgb(34, 34, 34);
}
a:hover, a:active { 
  text-decoration: none; 
}

pre {
  white-space: pre-wrap;
}

.header-menu {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
}

.header-options {
  position: relative;
  width: 70%;
  height: 50px;
  margin: 0 auto;
}

.header-option {
  float: left;
  /*width: 120px;  */
  width: 14%;
  margin-top: 15px;
  font: normal 1.2em/1 "Average Sans";
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.header-option,
.header-option:link, 
.header-option:visited, 
.header-option:hover, 
.header-option:active {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header-dropdown {
  visibility: hidden;
  display: none;
  position: relative;
  height: 50px;
  margin: 0 auto;
}

.header-button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  font: normal 1.2em/1 "Average Sans";
  color: rgb(255, 255, 255);
  float: right;
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
}

.header-dropdown-menu {
  visibility: hidden;
  display: none;

  margin-top: 50px;
  z-index: 1000000; 
  width: 100%; 
  background-color: rgb(0, 0, 0);
  position: absolute; 
  text-align: center; 
  font: normal 1.2em/1 "Average Sans";
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

}
.header-dropdown-menu ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}
.header-dropdown-menu li {
  display: block;
  padding: 15px 0 15px 0; 
  border-bottom: rgb(255, 255, 255) 1px solid;
}

.header-dropdown-menu li:hover{
  background-color: rgb(255, 255, 255); 
  color: rgb(0, 0, 0);
}
.header-dropdown-menu ul li a { 
  text-decoration:none;
  margin: 0px; 
  color: rgb(255, 255, 255);
}
.header-dropdown-menu ul li a:hover { text-decoration:none;}
.header-dropdown-menu a {
  text-decoration:none; 
  color: rgb(255, 255, 255);
}
.header-dropdown-menu a:hover {
  text-decoration:none; 
  color: rgb(255, 255, 255);
}
.header-title {
  width: 100%;
  height: 200px;
  margin: 50px auto 0;
}

.header-logo {
  margin: 0 auto 25px;
}
.header-logo img {
  width: 497px;
  height: 373px;
  display: block;
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  font: normal 7em/1 FFFTusj;
  font-family: FFFTusj;
  text-align: center;
  color: rgb(37, 37, 37);
}
h1 a,
h1 a:link, 
h1 a:visited, 
h1 a:hover, 
h1 a:active {
  text-decoration: none;
  color: rgb(37, 37, 37);
}

h2 {
  margin: 0 auto;
  text-align: center;
  color: rgb(22, 22, 22);
  font: 700 3em/1.1 Lora;
}
h2 a,
h2 a:link, 
h2 a:visited, 
h2 a:hover, 
h2 a:active {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

.post {
  width: 60%;
  margin: 0 auto 70px auto;
}

.post-content {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  color: #404040;
  font: 400 1.4em/1.5 Lora;
}

.post-subtitle {
  width: 100%;
  height: 20px;
  padding: 20px 10px 0 10px;
  color: rgb(79, 79, 79);
  font: 400 1.1em/1.5 Lora;
}
.post-subtitle a {
  color: rgb(79, 79, 79);
}

.post-title {
  max-width: 1000px;
	margin: 0 0 20px 0;  
}

.navigation {
  position: relative;
  width: 60%;
  height: 50px;
  margin: 0 auto;
	text-align: center;
}

.footer {
  position: relative;
  width: 60%;
	height: 70px;
	margin: 0 auto;
	padding: 30px 0 0 0;
	text-align: center;
}

.comment-list {

}

.comment-metadata {
	font-weight: bold;
}

textarea {
	width: 100%;
}

@media only screen and (max-width: 1000px)
{
  .header-options {
    visibility: hidden;
    display: none;
  }

  .header-dropdown {
    visibility: visible;
    display: block;
  }

  .header-logo img {
    width: 60%;
    height: 60%;
  }
  h2.post-title { 
    font: 700 1.7em/1.1 Lora; 
    margin: 0;
  }

  .post { width: 90%; }
  .post-content { font: 400 1.2em/1.5 Lora; }
  .post-subtitle { font: 400 1em/1.5 Lora; }

  ul {
    padding-left: 20px;
  }
}
